/* Desktop Styles*/
@keyframes showMessage {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-page {
    width: 100%;
    margin-top: 62px;
    color: #ffffff;
}

.header-content {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    margin-bottom: 5rem;
}

.title-content-header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.title-header {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
}

.list-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(289px, 1fr));
    justify-items: center;   
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 1.875rem;
    margin-bottom: 5rem;
    border-top: 2px solid #4a4e58;
}

.empty-list-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 1.875rem;
    border-top: 2px solid #4a4e58;
}

.empty-list {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .list-area {
        width: 90%;
    }
}