.input-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 3.75rem;
    background-color: #131313;
    border: 2px solid #323238;
    border-radius: 10px;
    padding: 0.625rem;
    margin-bottom: 1rem;
}

.input-container:focus-within {
    border: 1px solid #8234E9;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    color: #6B6B6B;
}

.input-field {
    flex: 1;
    height: 3.625rem;
    border: none;
    outline: none;
    background-color: transparent;
    padding-right: 2.813rem;
    font-size: 1.063rem;
    font-weight: 600;
    color: #ffffff;
}

.input-field::placeholder {
    color: #323238;
}

.visible-password-button {
    position: absolute;
    top: 0;
    right: 0.938rem;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    color: #323238;
    border: none;
    background: none;
    cursor: pointer;
}

.visible-password-button:hover {
    background: none;
}