/* Desktop Styles */
.anime-page-container {
    position: relative;
    top: 62px;
}

.anime-body-area {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    z-index: 4;
}

.anime-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 1.875rem auto;
}

.anime-title-info {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 600;
    line-height: 3.2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.anime-seasons-infos {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #a0a0a0;
    margin-bottom: 2rem;
}

.anime-seasons-infos::before {
    content: '';
    width: 0.35rem;
    height: 0.35rem;
    background-color: #a0a0a0;
    line-height: 1;
    transform: rotate(45deg);
}

.anime-poster-area img{
    display: block;
    object-fit: contain;
    height: 350px;
    width: 250px;
}

/* Mobile Styles */
@media(max-width: 768px) {

    .anime-body-area {
        padding: 0px 1.5rem;
    }

    .anime-title-info {
        font-size: 1.9rem;
        margin-bottom: 1rem;
        line-height: 2rem;
    }

    .anime-seasons-infos {
        font-size: 0.955rem;
        line-height: 1.3rem;
        margin-bottom: 1rem;
    }

    .anime-poster-area img{
        display: none;
    }
}
