.rating-info{
    display: inline-block;
    margin-bottom: 0.938rem;
}

.rating-info h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.35rem;
    font-size: 1.8rem;
}

.rating-info h4 span{
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: underline;
    color: #a0a0a0;
    transition: color 0.2s ease-in-out 0s;
    cursor: pointer;
}

.rating-info h4 span:hover{
    color: #ffffff;
}