.footer-container {
    width: 100%;
    padding: 30px;
    color: #ffffff;
    text-align: center;
    background: #000000 linear-gradient(180deg, #0000, #1B1B1F);
}

.footer-container a {
    color: #a0a0a0;
    transition: color 0.2s ease-in;
}

.footer-container a:hover {
    color: #ffffff;
}

.footer-header {
    margin-bottom: 2.5rem;
}

.social-media-area {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
}

.social-media-area span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-weight: 600;
}